.headings {
  /* contact us heading */
	text-align: center;
	padding-top: 6%;
}

.contact-text {
  font-weight: bold;
}

.contact-container {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 15em;
}

#checkout {
	color: #FFBD15;
}

.contact-form {
	flex: 1;
}

.contact-form {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.contact-button {
	text-align: left;
}

.contact-box input {
	max-width: 80%;
	width: 70%;
	height: 30px;
	margin-bottom: 2%;
  border-radius: 5px;
  border: 1px solid #8f8f98;
  padding: 1%;
}

.contact-el-msg input {

	height: 7rem;

}

.contact-el label, .contact-el-msg label {
	font-size: 1rem;
	margin-bottom: 1%;
  display: inline-block;
  width: 100%;
}


.checkout-cart .contact-text {
	max-width: 85%;
	margin-bottom: 4%;
}


.submit-button {
  border: none;
}

.submit-button:hover{
  cursor:pointer;
}

.submit-text{
  margin-left: -1.5rem;
  font-size: 1rem;
}

