.headings {
  /* contact us heading */
	text-align: center;
	padding-bottom: 6%;
}

#contact {
	color: var(--accent-red);
}

#main h3{
	color: var(--accent-red);
}

.contact-text {
  font-weight: bold;
}

.contact-container {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 15em;
}


.contact-form {
	flex: 1;
}

.contact-form {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.contact-button {
	text-align: left;
}

.contact-el, .contact-el-msg {
	display: block;
  position: relative;
  outline: none;
  width: 70%;
  margin-bottom: 3%;
}

.contact-el.focused label {
	transition: top 0.2s ease;
  top: -50%;
}
.contact-el-msg.focused label {
	transition: top 0.2s ease;
  top: -20%;
}

.contact-el label {
	position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  position: absolute;
  top: 0px;
  display: inline-block;
  background: var(--white-cream);
  margin: 8px 5px;
  line-height: 1.4em;
  padding: 0 1%;
  transition: all .2s linear;
  text-transform: capitalize;
}

.contact-el-msg label {
	position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  position: absolute;
  top: 0px;
  display: inline-block;
  background: var(--white-cream);
  margin: 8px 5px;
  line-height: 1.4em;
  padding: 0 1%;
  transition: all .2s linear;
  text-transform: capitalize;
}

.contact-el-msg input {
  width: 100%;
  padding: 10%;
 
}

.checkout-cart .contact-text {
	max-width: 85%;
	margin-bottom: 4%;
}

footer .logo{
	max-height: none;
}

.submit-button {
  max-width: 35%;
  width: 25%;
  border: none;
  text-align:center;

}

.submit-button:hover{
  cursor:pointer;
}

.submit-text{
  font-size: 1.2rem;
}

.map-container{
  display:flex;
}

.location{
  flex:1;
}

.map{
  flex:1;
}

.hours{
  margin-top:3.5rem;
}

iframe{
  width: 75%;
  /* height: 35rem; */
}



@media screen and (max-width: 60em) {

  p{
    max-width: 100%;
  }

  .contact-el, .contact-el-msg {
    width: 100%;
  }
  
  .contact-container {
    flex-direction: column; 
  }

  .map-container{
    flex-direction: column;
  }

  .contact-form {
  	margin-bottom: 30%;
  }

  .contact-box {
  	flex-direction: column;
  }

  .contact-text {
  	margin-left: 0;
  }

  .submit-button{
    max-width: 100%;
    width:100%;
  }

  iframe{
    width: 100%;
  }

  .location{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

}

