/* CSS for Homepage */

#home-banner {
	display: flex;
	max-width: 100%;
	max-width: 100%;
}

.bento {
	max-width: 100%;
	width: 60%;
	position: absolute;
	z-index: 1;
	margin-top: 36%;
	right: 55%;
}

.shop {
	max-width: 100%;
	width: 60%;
	opacity: 15%;
	margin-left: 30%;
}

.home-img {
	position: relative;
}

.home-headings {
	padding-top: 22%;
}

.home-headings h1 {
	color: var(--dark-beige);
	font-size: 3.5rem;
	max-width: 100%;
	width: 80%;
	line-height: 1.3;
	padding-top: 20%;
	margin-bottom: 8%;

}

.banner-box {
	display: flex;
	flex-direction: column;
	padding-left: 8%;
}

.shop-button .submit-button {
	padding: 2% 9%;
}

.about-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--accent-red);
	border-radius: 15px;
	padding: 5% 3%;
	margin-top: 16%;
}

.about-box p {
	margin-top: 2%;
	width: 72%;
	text-align: center;
	color: var(--dark-grey);
}

#catalogue {
	margin-top: 12%;
}

.product-display .img-link {
	max-width: 100%;
}

.product-display {
	margin-top: 4%;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	align-items: center;
}

.product-item img {
	max-width: 100%;
	width:98%;
	border-radius: 8px;
}

#catalogue .arrow-button {
	margin-top: 1%;
}

#catalogue .arrow-button svg {
    margin-left: 1%;
}

#events {
	background-color: rgb(179, 169, 142, 0.07);
}

#events, #events-two{
	padding: 5% 8%;
}

#events h2, #events-two h2 {
	margin-bottom: 2.5%;
}

#events h3, #events-two h3 {
	margin-bottom: 2%;
}
.event-box {
	display: flex;
}

.v-day {
	max-width: 100%;
	width: 30%;
	border-radius: 8px;
}

.best-2024{
	width: 25%;
	height: 25%;
	margin-right: 5%;
	margin: auto 5% auto 0;
}

#events-two p{
	margin-top: 1rem;
	max-width: 100%;
}

@media screen and (max-width: 80em) {
	.bento {
		right: 40%;
	}

	.home-headings h1 {
		font-size: 3.5rem;
		width: 100%;
		padding-top: 27%;
	}

}

@media screen and (max-width: 65em) {
	.bento {
		width: 60%;
		right: 20%;
		margin-top: 40%;
	}

	.home-headings h1 {
		font-size: 3.2rem;
	}
  
}

@media screen and (max-width: 60em) {

	.bento {
		width: 60%;
		right: 40%;
		margin-top: 58%;
	}

	.home-headings h1 {
		font-size: 2.8rem;

		width: 80%;
		padding-top: 35%;
	}

	.product-display {
		flex-direction: column;
	}

	#catalogue {
		margin-top: 20%;
	}

	#events h2, #events-two h2 {
    	width: 70%;
	}

	.v-day {
		height: auto;
		 object-fit: contain;
		 width: 40%;
	}

  

}

@media screen and (max-width: 45em) {

	#home-banner {
		flex-direction: column;
	}

	.banner-box {
		padding-left: 0;
		padding: 5% 5%;
	}

	.shop {
		display: none;
	}

	.bento {
		width: 50%;
		margin-left: 22%;
		position: revert;
		margin-top: 25%;
	}

	.home-headings h1 {
		font-size:3.5rem;
		width: 100%;
		padding-top: 25%;
		padding-bottom: 2%;
		padding-left: 0;
		text-align: center;
	}

	.shop-button {
		text-align: center;
	}

	.shop-button .submit-button {
		padding: 2% 25%;
	}

	.event-box {
		flex-direction: column;
	}

	.event-info {
		text-align: center;
	}

	#events h2, #events-two h2 {
    	width: 100%;
    	margin-top: 8%;
	}
	.event-info p {
		margin-top: 5%;
		max-width: 100%;
		margin-bottom: 8%;
	}

	.v-day {
		text-align: center;
		width: 100%;
	}
  
	.best-2024{
		order:2;
		width: 70%;
		margin: auto;

	}

}


