/* CSS for Product Listing */

.product-listing-box {
	display: flex;
	flex-direction: row;
	margin-bottom: 8%;
}

.breadcrumbs {
	display: flex;
	margin-top: 10%;
	margin-bottom: 5%;
	color: var(--dark-grey);
}

.breadcrumbs p {
	margin: 0 1%;
}

.breadcrumbs-link {
	text-decoration: none;
	color: var(--accent-red);
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus {
	color: var(--dark-beige);
}
h1.headings {
	margin-top: 8%;
}

.product-listing-info h3{
	color: var(--accent-red);
}

.product-img {
	margin-right: 6%;
	max-width: 100%;
	height: auto;
	align-self: flex-start; 
}

.product-listing-info p {
	margin-bottom: 2%;
	margin-top: 2%;
	max-width: 100%;
}

.inputs {
	display: flex;
	flex-direction: row;
	margin-top: 9%;
	gap: 8%;
}

.q-input {
	width: 15%;
	height: 100%;
	font-size: 1rem;
	padding-left: 4%;
}

label {
	color: var(--dark-beige);
	margin-right: 3%;
}

#quantity {
	max-width: 15%;
  	border-radius: 5px;
  	border: 1px solid #8f8f98;
}

select {
	display: flex;
	flex-grow: 2;
	border-radius: 5px;
	border: 1px solid #8f8f98;
	height: 120%;
	width: 40%;
	font-size: 1rem;
	padding-left: 2%;
}

#quantity:hover, #quantity:focus  {
  border: 1px solid var(--accent-red);
  outline: none; 
}

.custom-select {
	display: flex;
	flex-grow: 2;
}

select:hover, select:focus  {
  border: 1px solid var(--accent-red);
  outline: none; 
}

.product-buttons {
	margin-top: 15%;
	text-align: left;
}

@media screen and (max-width: 80em) {
	.inputs {
		flex-direction: column;
	}
	.custom-select {
		margin-bottom: 5%;
		width: 70%;
	}

	.product-listing-box p {
		font-size: 0.9rem;
	}
	.product-listing-box h1 {
		font-size: 3rem;
	}

	.product-img {
		width: 60%;
	}

}

@media screen and (max-width: 70em) {

	.product-img {
		width: 50%;
	}

	h1.headings {
		margin-top: 0;
	}

	.inputs {
		margin-top: 4%;
	}
	.product-buttons {
		margin-top: 7%;
	}
	.product-listing-box p {
		margin-top: 1%;
	}


}

@media screen and (max-width: 65em) {

	.product-listing-box h1 {
		font-size: 2.5rem;
	}
	.product-listing-box h3 {
		font-size: 1.5rem;
	}

	#main {
		padding: 4rem 4rem;
	}
}

@media screen and (max-width: 50em) {
	.product-listing-box {
		flex-direction: column;
	}

	#main {
		padding: 6% 3%;
	}

	.breadcrumbs {
		margin-top: 20%;
	}

	h1.headings {
		margin-top: 8%;
	}

	.custom-select select {
		width: 100%;
		height: auto;
	}

	.custom-select {
		width: 100%;
		height: auto;
	}

	#quantity {
		max-width: 10%;
		height: 2.5em;
	}

	.q-input {
		width: 100%;
		height: auto;
	}

	.product-img {
		width: 100%;
	}

	.inputs {
		margin-top: 6%;
	}
	.product-buttons {
		margin-top: 20%;
		margin-bottom: 15%;
		text-align: center;
	}

	.product-buttons .submit-button {
		padding: 2.5% 20%;
		text-align: center;
	}
	
}