/*
  STYLE GUIDE STYLING 
  product styling for the product shop page 
*/

/* Banner */

#intro-banner {
  margin-top: 5%;
  margin-bottom: 7%;
}

h1.headings {
  text-align: center;
}

#shop {
	color: var(--accent-red);
}

.product-text {
	max-width: 100%;
	margin-top: 8%;
}

.product-box {
  border-radius: 10px;
  background-color: rgb(179, 169, 142, 0.07);
  padding: 5% 8%;
  transition: background-color .25s linear;
  margin-bottom: 2rem;
  width: 80%;
}


.product-box:hover {
  background-color: rgb(179, 169, 142, 0.2);
}

.product-box h2 {
	font-size: 1.7rem;
  color: #3C3C3C;
}

.product-box p {
  font-size: 0.9rem;
}

.product-box h3 {
	font-size: 1.3rem;
	margin:0;
  color: rgb(60, 60, 60,0.4);
}

.product-buttons .submit-button {
    padding: 2% 7%;
}

.product-buttons {
    margin-top: 15%;
    text-align: right;
}

.product-img {
	max-width: 100%;
  align-items: center;
}

.product-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
  margin-bottom: 5%;
}

.product-grid img {
  width: 100%;
  height: auto;
}



@media screen and (max-width: 80em) {


  .product-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    margin-bottom: 10%;
  }
}


@media screen and (max-width: 50em) {

  .product-grid {
      margin-bottom: 20%;
  }

  #main {
    padding: 2% 2%;
  }

}

@media screen and (max-width: 45em) {
 
  .product-grid {
   grid-template-columns: 1fr;
   grid-gap: 1%;
   margin-bottom: 50%;
   margin-left: 3%;
  }

  h1.headings {
    margin-top: 30%;
  }

  .product-buttons {
    margin-bottom: 5%;
  }

}