/*
  STYLE GUIDE STYLING 
  product styling for the style guide 
*/

/* Banner */
.product-banner {
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 5vw;
	padding: 5% 0;
	margin:0;
}

.product-banner h1 {
	text-align: center;
	position: relative;
	margin-top: 5%;
	color: #FBD26A;
}

#shop {
	color: #FFBD15;
}

.product-text {
	max-width: 100%;
	margin-top: 8%;
}
/*
.product-box {
	display: flex;
	flex: 1 1 15em;
  border-radius: 10px;
  background-color: rgb(255, 189, 21,0.03);
  padding: 2% 4%;
  justify-content: center;
  transition: background-color .25s linear;
  margin-bottom: 2rem;
}*/

.product-box {
  flex-basis: calc(33.33% - 2.5%); /* Ensure each product takes up 1/3 of the available space */
  max-width: calc(33.33% - 2.5%); /* Ensure each product takes up 1/3 of the available space */
  border-radius: 10px;
  background-color: rgb(255, 189, 21,0.03);
  padding: 2% 4%;
  transition: background-color .25s linear;
  margin-bottom: 2rem;
}


.product-box:hover {
  background-color: rgb(255, 189, 21,0.07);
}

.product-box h2 {
	font-size: 1.7rem;
}

.product-box p {
  font-size: 0.9rem;
}

.product-box h3 {
	font-size: 1.3rem;
	margin:0;
  color: rgb(60, 60, 60,0.6);
}

.product-buttons .submit-button {
    padding: 2% 7%;
}

.product-buttons {
    margin-top: 15%;
    text-align: right;
}

.product-img {
	max-width: 100%;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.product-grid img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 80em) {
  .product-box {
    max-width: calc(50% - 2.5%);
    flex-basis: calc(50% - 2.5%);
  }
}


@media screen and (max-width: 50em) {
  .product-banner h1 {
  	font-size: 2.2rem;
  }

}

@media screen and (max-width: 45em) {
  .product-box {
    max-width: calc(100% - 2.5%);
    flex-basis: calc(100% - 2.5%);
    margin-bottom: 4%;
  }

  .product-banner {
  	height: 10vw;
  }

  .product-banner h1 {
  	margin-top: 5%;
  	font-size: 2.5rem;
  }

  .product-buttons {
    margin-bottom: 5%;
  }

  .product-box {
    margin-bottom: 8%;
  }

}